---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro";
---

<!doctype html>
<html lang="ja">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>portfolio</title>
	</head>
	<!-- <Layout> -->
	<Navigation />
	<body>
		<h1>Hello world</h1>
	</body>
	<!-- </Layout> -->
</html>
